.mypage-main {
  position: relative;
  padding: 50px 0px 150px 0;
}

.mypage-selected-sidebar-content {
  margin-left: 250px;
}

/** MyPageSideNavigator  */

.mypage-side-navigator {
  position: absolute;
  top: 50px;
}

.mypage-side-navigator > div {
  margin-bottom: 15px;
  color: #212121;
}

.mypage-side-navigator > div:hover {
  cursor: pointer;
}

.mypage-side-navigator > div::selection {
  border-bottom: 1px solid var(--color-warmAqua);
}

/** MyPageProfile */

.mypage-profile-container {
  position: relative;
}

.mypage-profile-content {
  display: flex;
  align-items: center;
  border: 1px solid #25cad2;
  padding: 50px;
  width: 1150px;
  height: 180px;
  margin-left: 250px;
}

.mypage-profile-image > img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 50%;
}

.mypage-profile-greeting {
  margin-left: 20px;
  color: #212121;
}

.mypage-profile-greeting > div:first-child {
  font-size: 22px;
  margin-bottom: 8px;
}

.mypage-profile-greeting > div:first-child > span {
  font-weight: 700;
  color: #ffffff;
  background-color: var(--color-warmAqua);
  padding: 11px 8px 5px 8px;
  border-radius: 50px;
}

.mypage-profile-greeting > div:last-child {
  font-size: 15px;
}

/** mypage-profile-modify-modal  */
.mypage-profile-modify-modal-content {
  position: absolute;
  background-color: #ffffff;
  width: 380px;
  height: 700px;
  top: 120px;
  padding: 20px;
  cursor: default;
}

.mypage-profile-modify-modal-close-button {
  font-size: 30px;
  height: 20px;
  text-align: right;
  color: #e5e7eb;
}

.mypage-profile-modify-modal-content-title {
  font-size: 24px;
  color: #212121;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 25px 0;
}

.mypage-profile-quit-modal-content-text {
  font-size: 14px;
  color: #212121;
}

.mypage-profile-modify-modal-content-img {
  text-align: center;
  position: relative;
}

.mypage-profile-modify-modal-content-img > img {
  width: 80px;
  border-radius: 50px;
}

.mypage-profile-modify-modal-content-img-change-button {
  position: absolute;
  top: 45px;
  left: 195px;
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid #d4d4d4;
  font-size: 15px;
  color: #717680;
  width: 30px;
  height: 30px;
}

.mypage-profile-modify-modal-content-img-change-button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

/** MyPageModifyModalContent  */
.mypage-profile-modify-modal-content-text {
  font-size: 14px;
}

.mypage-profile-modify-modal-content-name,
.mypage-profile-modify-modal-content-sex,
.mypage-profile-modify-modal-content-tel,
.mypage-profile-modify-modal-content-address,
.mypage-profile-modify-modal-content-birth,
.mypage-profile-modify-modal-content-event {
  position: relative;
  margin: 25px 0 20px 0;
}

.mypage-profile-modify-modal-content-text-title {
  margin-bottom: 5px;
}

.mypage-profile-modify-modal-content-name > input {
  width: 345px;
  height: 40px;
  border: 0.3px solid #bcbcbc !important;
  border-radius: 0px;
  padding: 15px;
}

.mypage-profile-modify-modal-content-name > input:focus {
  outline: none;
}

.mypage-profile-modify-modal-content-tel > input {
  width: 345px;
  height: 40px;
  border: 0.3px solid #bcbcbc !important;
  border-radius: 0px;
  margin-right: 3px;
  padding: 15px;
}

.mypage-profile-modify-modal-content-tel > input:focus {
  outline: none;
}

.mypage-profile-modify-modal-content-address-input > input {
  width: 345px;
  height: 40px;
  border: 0.3px solid #bcbcbc !important;
  border-radius: 0px;
  margin-bottom: 0px;
  display: block;
  padding: 15px;
}

.mypage-profile-modify-modal-content-address-input > input:focus {
  outline: none;
}

.mypage-profile-modify-modal-content-address-input > input:last-of-type {
  margin-top: -1px;
  border-top: none; /* 두 번째 input의 위쪽 경계를 제거 */
}

.mypage-profile-modify-modal-content-sex-input {
  display: flex;
  align-items: center;
  width: 65px;
  cursor: pointer;
}

.mypage-profile-modify-modal-content-sex-input > input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0.1px solid #bcbcbc !important;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  vertical-align: middle;
}

.mypage-profile-modify-modal-content-sex-input > input[type="radio"]:checked {
  background-color: white;
  border: none; /* 테두리 제거 */
}

.mypage-profile-modify-modal-content-sex-input
  > input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 12px; /* 선택된 원의 크기 조정 */
  height: 12px; /* 선택된 원의 크기 조정 */
  border-radius: 50%;
  background-color: var(--color-warmAqua); /* 선택된 원 색상 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬 */
}

.mypage-profile-modify-modal-content-sex-input > span {
  margin-left: 5px;
  line-height: 30px;
}

.validation-mark {
  position: absolute;
  font-size: 25px;
  color: #1a6dff;
  top: -7px;
  margin-left: -5px;
}

.mypage-profile-modify-modal-content-birth {
  margin: 25px 0 20px 0;
}

.mypage-profile-modify-modal-content-birth-inputs {
  display: flex;
}

.mypage-profile-modify-modal-content-birth-inputs > input {
  width: 113.8px;
  height: 40px;
  border: 0.3px solid #bcbcbc !important;
  border-radius: 0px;
  margin-right: 1.5px;
  padding: 15px;
}

.mypage-profile-modify-modal-content-birth-inputs > input:last-of-type {
  margin-right: 0;
}

.mypage-profile-modify-modal-content-birth-inputs > input:focus {
  outline: none;
}

.mypage-profile-modify-modal-content-event-inputs {
  padding-bottom: 5px;
  padding-top: 5px;
}

.mypage-profile-modify-modal-content-event-input {
  display: flex;
  width: 140px;
  align-items: center;
  padding-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

.mypage-profile-modify-modal-content-event-input input[type="checkbox"] {
  appearance: none;
  width: 16px; /* 체크박스 크기를 명확하게 지정 */
  height: 16px; /* 체크박스 크기를 명확하게 지정 */
  border: 0.3px solid #bcbcbc;
  margin-right: 10px; /* 라벨과 체크박스 사이의 간격 조정 */
  cursor: pointer;
  position: relative; /* ::after 가상 요소의 위치를 기준으로 설정 */
}

.mypage-profile-modify-modal-content-event-input
  input[type="checkbox"]:checked {
  background-color: var(--color-warmAqua);
  border: none;
}

.mypage-profile-modify-modal-content-event-input
  input[type="checkbox"]:checked::after {
  content: "✔"; /* 체크 표시 아이콘 */
  display: block;
  position: absolute;
  top: 50%; /* 중앙 정렬을 위한 설정 */
  left: 50%; /* 중앙 정렬을 위한 설정 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위한 설정 */
  color: white;
  font-size: 12px; /* 체크 표시 아이콘 크기 조정 */
}

/** mypage-profile-quit-modal  */

.mypage-modal-container {
  position: relative;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 50px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: default !important;
}

.mypage-profile-quit-modal-content {
  position: absolute;
  background-color: #ffffff;
  width: 600px;
  height: 265px;
  top: 350px;
  padding: 20px;
  cursor: default;
}

.mypage-profile-quit-modal-content-title {
  font-size: 24px;
  color: #212121;
  font-weight: 700;
  text-align: center;
  margin: 15px 0px 25px 0;
}

.mypage-profile-quit-modal-content-text {
  font-size: 14px;
  color: #212121;
}

.mypage-profile-quit-modal-content-text > div {
  margin-bottom: 5px;
}

.mypage-profile-quit-buttons {
  margin-top: 20px;
  margin-left: 195px;
}

.mypage-profile-quit-modal-close,
.mypage-profile-quit-button {
  border-radius: 50px;
  padding: 10px 25px 10px 25px;
  margin-left: 5px;
  cursor: pointer;
}

.mypage-profile-quit-modal-close {
  color: #3d464b;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px 20px 10px 20px;
}

.mypage-profile-quit-button {
  border: none;
  background-color: #12cfca;
  border: 1px solid #12cfca;
  color: #ffffff;
}

.mypage-profile-modify-modal-content-sumbit {
  background-color: var(--color-warmAqua);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
